* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    padding: 50px;
}

h1 {
    display: flex;
    justify-content: center;
}

.player_board {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results {
    display: flex;
    flex-grow: 0;
}

.mid {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.playerScore, .compScore {
    
    flex-grow: 0;
    font-size: 50px;
    text-align: center;
}
.playerScore {
    background-color: green;
}
.ties {
    flex-shrink: 0;
    background-color: gray;
    font-size: 50px;
    flex-grow: 1;
    text-align: center;
}
.compScore {
    background-color: red;
}

.end{
    background-color: blue;
    color: lightblue;
    font-size: larger;
    font-weight: 950;

}